{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h2>Historique des Transactions</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Montant</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in transactions %}
      <tr>
        <td>{{ transaction.date }}</td>
        <td>{{ transaction.type_transaction }}</td>
        <td>{{ transaction.montant }} FCFA</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
